
<div class="container">

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Create a Poll</h3>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Title</label>
                        <input ng-model="ctrl.title" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">

                    <div class="well">
                        Item #1
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="well">
                        Item #2
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="well">
                        Item #3
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                   <button ng-click="ctrl.createPoll()" class="btn btn-primary btn-lg btn-block">Create Poll!</button>
                </div>
            </div>
        </div>
    </div>
</div>